body{
  font-family:  'Antic Slab', serif;
  margin:0;
}
.container{
  display: grid;
  grid-template-columns: 1fr;
}

.nav-wrapper{
  display: flex;
  justify-content: space-between;
  padding:38px;
}
.left-side{
  display: flex;
}
.nav-wrapper>.left-side>div{
  margin-right: 20px;　
  font-size: 0.9em;
  text-transform: uppercase;
}
.nav-link-wrapper{
  height:20px;
  border-bottom:1px solid transparent;
  transition: border-bottom 0.5s;
}
.nav-link-wrapper a{
  color:#8a8a8a;
  text-decoration: none;
  transition: color 0.5s;
}
.nav-link-wrapper:hover{
  border-bottom:1px solid black;
}
.nav-link-wrapper a:hover{
  color:black;
}
.active-nav-link{
  border-bottom:1px solid black;
}
.active-nav-link a{
  color: black !important;
}

.right-side{
  text-transform: uppercase;
}

/* Portfolio styles */

.portfolio-items-wrapper{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.portfolio-item-wrapper{
  position:relative;
}
.portfolio-img-background{
  background-image:url('https://github.com/Rio-jetexpress/Udemyproject/blob/master/harley-davidson-56R8TzG7Lzc-unsplash.jpg?raw=true')
  height: 350px;
  width:100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
 }
.img-text-wrapper{
  position:absolute;
  top:0px;
  left:36px;
  display:flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  height:100%;
  text-align: center;
  padding-left: 100px;
  padding-right: 100px;
}

.logo-wrapper img{
  width:50%;
  color: white;
}
.img-text-wrapper .subtitle{
  font-weight: 600;
  transition: 1s;
  color:transparent;
}
.img-text-wrapper:hover .subtitle{
  font-weight: 600;
  color:lightseagreen;
}
.img-darken{
  transition:1s;
  filter:brightness(10%);
}

.two-column-wrapper{
  /* display: flex;
  align-items: center; */
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.profile-image-wrapper{
  width:100%;
}
.profile-content-wrapper{
  padding-left:30px;
  padding-right:30px;

}
.profile-content-wrapper h1{
  margin-top: 10px;
  color:lightseagreen;
}
